NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SUPABASE_URL=https://aopnmexxfptdyemdrstq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFvcG5tZXh4ZnB0ZHllbWRyc3RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzNTA2MDUsImV4cCI6MjA4ODkyNjYwNX0.d0NYm9lLv7A0Hd7oFgPpJlVXBPE2idoaoOmSNOl93MQ
